* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root {
    --black: #131812;
    --dark-green: #243022;
    --green: #557544;
    --light-green: #aebd92;
    --light-yellow: #f6d27a;
    --yellow: #f2c165;
    --white: #eeeeee;
}
::selection {
    background-color: rgba(174, 189, 146, 0.5);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--light-green);
    border-radius: 16px;
}
::-webkit-scrollbar-button {
    display: none;
}

@font-face {
    font-family: 'Upakarti';
    src: url('../fonts/upakarti.ttf') format('truetype');
}
@font-face {
    font-family: 'Dumbledor';
    src: url('../fonts/dum1.ttf') format('truetype');
}

body, h1, h2, a, p, span, li, ul, ol, button, input, textarea, select, option, label {
    font-weight: 400;
    line-height: 1;
    color: var(--black);
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--white);
}
h1 {
    font-family: 'Upakarti', sans-serif;
    font-size: 72px;
}
h2 {
    font-family: 'Dumbledor', sans-serif;
    font-size: 30px;
}

header, nav, footer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

header, nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
    padding: 10px 64px;
}

footer {
    justify-content: center;
    align-items: center;
    padding: 14px 0;
}

section {
    width: 100%;
    height: 100vh;
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}