:root {
  --hitam: #151c14;
  --putih: #eeeeee;
  --hijautua: #243122;
  --hijausedang: #36452e;
  --hijaumuda: #aebd92;
  --hijaumuda: #dae4c7;
  --kuningtua: #f2c165;
  --kuningmuda: #f6d27a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: url(../images/bg-logreg.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.hero {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5em;
}

.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background-color: rgba(21, 28, 20, 0.305);
  border: 1px solid rgba(255, 255, 255, 0.196);
  backdrop-filter: blur(20px);
  padding: 5px;
  border-radius: 2em;
  overflow: hidden;
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.209);
  box-shadow: 0 0 25px 5px #0000003b;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 32px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: black;
  font-weight: 400;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.toggle-btn:hover {
  transform: scale(1.1);
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: var(--putih);
  border-radius: 30px;
  transition: 0.5s;
}

.social-icons {
  margin: 30px auto;
  text-align: center;
}

.social-icons i {
  font-size: 30px;
  color: var(--putih);
  box-shadow: 0 0 20px 0 #7f7f7f3d;
}

.social-icons i:hover {
  transform: scale(1.2);
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5 ease;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid var(--putih);
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  color: black;
  background: var(--putih);
  border: 0;
  outline: none;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background-color: transparent;
  color: var(--putih);
  border: 2px solid var(--putih);
}

.check-box {
  margin: 30px 10px 30px 0;
}

span {
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
  color: var(--putih);
}

#login {
  left: 450px;
}
#register {
  left: 50px;
}

input::placeholder {
  color: var(--putih);
}

.terms {
  color: var(--putih);
}
