* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

nav ul {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  padding: 10px;
}

nav ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #eeeeee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #f2c165;
}

nav a img {
  height: 60px;
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

nav ul li .dropdown-content {
  display: none;
}

nav ul li .nav-user{
  background-color: #36452e;
  color: #eeeeee;
  padding: 6px 10px;
  border-radius: 28px;
}

nav ul li .nav-user:hover{
  background-color: #243122;
  color: #eeeeee;
}

nav.sticky {
  position: fixed;
  top: -100px;
  animation: slideDown 0.5s ease forwards;
  background-color: #0d1928;
}

@keyframes slideDown {
  0%{
      top: -100;
  }
  80%{
      top: 0;
  }
  100% {
      top: 0;
  }
}

nav.slide-up {
  animation: slideUpAnim 4s ease forwards;
}

@keyframes slideUpAnim {
  0% {
      top: 0;
  }
  80% {
      top: 0;
  }
  100% {
      top: -100;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 74px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 14px;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  margin-left: 4px;
  bottom: 4px;
  background: url('../images/sun-icon.svg')no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: .5s;
  transition: .5s;
}

input:checked+.slider {
  background-color: #151c14;
}

input:focus+.slider {
  box-shadow: 0 0 2px #151c14;
}

input:checked+.slider:before {
  background: url("../images/moon-icon.svg")no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url('../images/hero-section.jpg');
  background-size: cover;
  background-position: center;
  padding: 120px;
}

.hero-section .hero-overlay{
  position: absolute;
  z-index: 0;
  background: linear-gradient(rgb(21, 28, 20,0.8),rgb(21, 28, 20,0.5),rgb(21, 28, 20,0.4),rgb(21, 28, 20,0.6),rgb(21, 28, 20,0.9), rgb(21, 28, 20,1));
  width: 100%;
  height: 100vh;
  filter: blur(100%);
}

.hero-section .hero-content{
  text-align: center;
  width: 100%;
  z-index: 1;
}

.hero-section .hero-content h1{
  color: white;
  font-size: 170px;
  letter-spacing: 4px;
  font-family: 'Mahameru-Medium', sans-serif;
  user-select: none;
  margin-bottom: -30px;
}

.hero-section .hero-content p{
  font-family: 'Mahameru-Thin', sans-serif;
  display:inline;
  height: 50px;
  font-size: 24px;
  font-weight: 400;
  color: #f2c165;
  padding: 0px 6px;
  border-right: 2px solid #eeeeee; 
  overflow: hidden;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #eeeeee; }
}